.fira-sans-bold {
    font-family: "Fira Sans", serif;
    font-style: normal;
  }


body{
    background-color: azure;


}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav.title{
    font-size: 32px;
    font-weight: 900;
}
nav.sign{
    color: #006A50;
    background-color: #F5F5F5;
    font-weight: bolder;
    font-size: 18px;
    padding: 15px 30px;
    border-radius: 1px;
    border-color: #006A50;

}
.banner1{
    background-color: aquamarine;
    border-radius: 8%;
    margin-bottom: 80px;
    padding-top: 80%;
    padding-bottom: 80%;
    border-radius: 24%;
    padding-left: 100%;
    padding-right: 100%;
    max-width: 1280px;
    max-height: 560px;
    text-align: left;

    

}
.banner-title{
    font-size: 24px;
    font-weight:medium ;
    color: #0E0E0E;
    width: 622px;
    height: 29px;

}
.banner-content{
    font-size: 56px;
    font-size: bold;
    width: 622px;
    height: 201px;
    color: #0E0E0E;


        }
        .banner-button{
            background-color:#006A50 ;
            color: #F5F5F5;
            border-radius: 5%;
            
            

        }
        .banner2-title{
            text-align: left;
            font-size: 40px;
            font-weight: bold;
            color: #0E0E0E;


        }
        .pillars{
            margin-top: 32px;
            display: flex;
            gap: 24px;
            padding: 25px;
            border-radius: 15%;
            border-color: #0E0E0E;
            border-width: thin;

        }
        .pillar-title{
            font-size: 20px;
            font-weight: bold;
            text-align: left;

        }
        .pillar-description{
            font-size: 16px;
            font-weight: normal;
            text-align: left;

        }
        .vision-title{
            font-size: 20px;
            font-weight: bold;
            color: #0E0E0E;
            text-align: left;
        }
        .vision-describe2{
            font-weight: normal;
            font-size: 16px;
            text-align: left;

        }
        .Vision-bd1 , .Vision-bd2 , .Vision-bd3{
            display: flex;
            border-radius: 20%;
            padding-top: 24px;
            padding-bottom: 24px;
            margin: 32px;
            gap: 24px;
            max-width: 1280px;
            max-height: 325px;


        }
        .vision-title1{
            text-align: left;
            font-size: 40px;
            font-weight: bold;

        }
        .vision-describe1{
            font-size: 16px;
            font-weight: normal;
            color: #0E0E0E;

        }
        .Vision-bd1{
            background-color: palevioletred;
        }
        .Vision-bd2{
            background-color: burlywood;
        }
        .Vision-bd3{
            background-color: mediumturquoise;
        }
        .vision-button1{
            background-color: palevioletred;
        }
        .vision-button2{
            background-color: burlywood;
        }
        .vision-button3{
            background-color: mediumturquoise;

        }
.vision-button1, .vision-button2, .vision-button3{
    border-radius: 10%;
    color: #F5F5F5;
    align-self: center;
}
.speech{
    font-size: 16px;
    font-weight: normal;

}
.name {
    font-weight: 900;
    font-size: 20px;
    text-align: left;

}
.designation{
    font-size: 16px;
    font-weight: normal;
    text-align: left;

}
section1{
 border-radius: 20%;
 border: #0E0E0E;
 border-width: thin;
  margin-bottom: 80px;
  margin-left: 160px;
  margin-right: 160px;
  max-width: 1280px;
  max-height: 256px;


}
.form-title{
    padding-bottom: 24px;
    font-size: 40px;
    font-weight: bold;
    text-align: left;
    color: #0E0E0E;

}
h1{
    text-align: left;
    font-size: 40px;
    font-weight: bold;
    border-bottom: 24px;
    border-left: 160px;
    border-right: 160px;


}
p{
    font-size: 16px;
    font-weight: normal;
    border-left: 160px;
    border-right: 160px;
}
.news-items{
    gap: 32px;
    width: 408px;
    height: 306px;


}
.new-article{
    padding: 48px;
    display: flex;

}
.news-texts{
    padding-bottom: 32px;
    font-weight: normal;
    font-weight: 16px;
    text-align: right;

}
.news-heading{
    font-weight: bold;
    font-size: 32px;
    text-align: right;

}
.news-source{
    font-size: 16px;
    color: blue;
    gap: 0px;
    text-align: right;

}
.source-image{
    size: 16px;
    gap: 0px;
    text-align: right;

}
.news-button{
    border-radius: 8px;
    background-color: #006A50;
    color: #F5F5F5;
    width: 139px;
    height: 48px;
    text-align: center;

}